/* SearchBar.css */
.search-bar {
  display: flex;
  align-items: center;
  max-width: 600px;
  width: 100%;
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px 0 0 6px;
  border: 1px solid #ddd;
  border-right: none;
  background-color: #f0f0f0; /* Almost white */
  color: #333; /* Dark text for readability */
  box-sizing: border-box;
}

.search-button {
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ddd;
  border-radius: 0 6px 6px 0;
  background-color: #e0e0e0; /* Slightly darker color */
  color: #000; /* Black icon */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.search-button svg {
  color: #000; /* Black icon */
}

.download-button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #858afa;
  color: white;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .search-bar {
    flex-direction: column;
    align-items: stretch;
  }

  .search-input {
    border-radius: 6px 6px 0 0;
    border-right: none;
    width: 100%;
    margin-bottom: 0; /* Avoid double border */
  }

  .search-button {
    border-radius: 0 0 6px 6px;
    width: 100%;
    margin-top: 0; /* Avoid double border */
  }

  .download-button {
    width: 100%;
  }
}
