/* SearchBar.css */
.search-bar {
  display: flex;
  align-items: center;
  max-width: 600px;
  width: 100%;
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px 0 0 6px;
  border: 1px solid #ddd;
  border-right: none;
  background-color: #f0f0f0; /* Almost white */
  color: #333; /* Dark text for readability */
}

.search-button {
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ddd;
  border-radius: 0 6px 6px 0;
  background-color: #e0e0e0; /* Slightly darker color */
  color: #000; /* Black icon */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button svg {
  color: #000; /* Black icon */
}

/* Responsive Styles */
@media (max-width: 600px) {
  .search-bar {
    align-items: center;
  }

  .search-input {
    border-radius: 6px 0 0 6px;
    border-right: 1px solid #ddd;
    width: 90%;
  }

  .search-button {
    font-size: 1.2em;
    border-radius: 0 6px 6px 0;
    width: 10%;
  }
}
